/*
 * Copyright 2018 forCandies <work@forcandies.com> (http://forcandies.com)
 *
 * ISC License
 *
 * Permission to use, copy, modify, and/or distribute this software
 * for any purpose with or without fee is hereby granted, provided
 * that the above copyright notice and this permission notice appear
 * in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
 * WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL
 * THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR
 * CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
 * LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
 * CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.StatusBar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 100%;
    background: rgba(0, 0, 0, 0.04);
    -webkit-app-region: drag;
    transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.StatusBar--search {
    background: #eee;
}

.StatusBar--detail {
    background: #000000;
}

.StatusBar--white {
    background: #ffffff;
}

.StatusBar--hidden {
    display: none;
}

.App {
    display: inline-flex;
    top: 23px;
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 23px);
    background: #ffffff;
}

.App--noStatusBar {
    top: 0;
    height: 100%;
}